# Discord Bot Token
# Получите токен на https://discord.com/developers/applications
DISCORD_TOKEN=ваш_настоящий_токен_здесь

# Настройки бота
BOT_PREFIX=!
# Опционально: ID сервера для быстрой синхронизации slash команд
# GUILD_ID=123456789012345678